@keyframes pip {
	0% {
		margin-left: -30%;
		top: -20%;
	}

	20% {
		top: 35%;
	}

	40% {
		margin-left: 0;
		top: 25%;
	}

	80% {
		margin-left: -5%;
		top: 35%;
	}

	100% {
		margin-left: 3rem;
		top: 66%
	}
}

@keyframes fadeInSpotlight {
	0% {
		background-color: transparentize(#000, .15);
	}

	100% {
		background-color: transparentize(#000, 1);
	}
}

@keyframes lightFlicker {
	0% {
		opacity: .8;
	}

	25% {
		opacity: .9;
	}

	75% {
		opacity: .8;
	}

	100% {
		opacity: 1;
	}
}

@keyframes lightFlickerIE {
	0% {
		opacity: .3;
	}

	25% {
		opacity: .2;
	}

	75% {
		opacity: .25;
	}

	100% {
		opacity: .2;
	}
}

@keyframes shake {
	0% {
		transform: translate(8px, 7px);
	}

	12% {
		transform: translate(0px, -6px);
	}

	24% {
		transform: translate(-5px, -4px);
	}

	48% {
		transform: translate(4px, 3px);
	}

	56% {
		transform: translate(-2px, 1px);
	}

	66% {
		transform: translate(0px, 1px);
	}

	80% {
		transform: translate(1px, 0px);
	}

	95% {
		transform: translate(0px, 0px);
	}
}

@keyframes sparkle {
	0% {
		transform: scale(.1) rotate(270deg);
	}

	15% {
		transform: scale(3) rotate(180deg);
	}

	25% {
		transform: scale(2) rotate(0deg);
	}

	90% {
		transform: translate(0, 30px) scale(.5);
		opacity: 1;
	}

	100% {
		transform: translate(0, 30px) scale(.1);
		opacity: 0;
	}
}
